<h1>Add a Stock to Your Portfolio</h1>

<form action="/stocks" method="post">
  <p>Stock Name:<input type="text" id="name" name="name"></p>
  <p>Stock Symbol: <input type="text" name="symbol"></p>
  <p>Purchase Price: <input type="integer" name="purchase_price"></p>
  <input type="submit" id="submit" value="Add Stock">
</form>
