<!doctype html>
<html>
  <head>
    <title>Stock Portfolio</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Your Stock Portfolio</h1>
      <%= yield %>
    </div>
  </body>
</html>
